@import "variables";
@import "generic";
.mt50{
  margin-top: 70px;
}
.p0{
  padding: 0;
}
a{
  &:hover, &:focus, &:active{
    text-decoration: none !important;
  }
}
.calibri{
  font-family: Calibri;
}
.btn-cart{
  background-color: $red;
  padding: 10px 15px;
  color: $white;
  text-transform: uppercase;
  @extend .calibri;
  font-size: 12px;
  border: 1px solid $red;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-weight: 500;
  &:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f217";
    margin-right: 5px;
  }
  &:hover{
    background-color: transparent;
    color: $red;
    border: 1px solid $red;
    text-decoration: none;
    transition: ease-in 0.2s;
  }
}
.sale_badge{
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 15px;
  height: 25px;
  border-radius: 0;
  line-height: 15px;
  min-width: auto;
  min-height: auto;
}
.font-awesome-family{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.products--top-rated{
  .product-item{
    margin-bottom: 20px;
    text-align: center;
    .woocommerce-loop-product__link{
      .onsale{
        @extend .sale_badge
      }
      .attachment-woocommerce_thumbnail{
        min-height: 333px;
        object-fit: cover;
      }
      .woocommerce-loop-product__title{
        @extend .title;
        color: $primary-color;
      }
      .star-rating{
        @extend .stars;
        margin: 10px auto;
        &:before{
          color: $red;
        }
      }
      .price{
        display: block;
      }
    }
    .button, .added_to_cart{
      @extend .btn-cart;
    }
    .added_to_cart{
      padding: 9px 15px;
      display: inline;
    }
  }
}
.single-product-content-area{
  margin-top: 70px;
  .woocommerce-tabs{
    padding: 50px 50px 0 50px;
    .description_tab{
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
    }
    .panel{
      padding: 0 30px 30px !important;
      h2{
        @extend .related;
        border-bottom: 0;
        margin-bottom: 10px;
      }
    }
  }
  .upsell{
    padding: 50px 0;
    @extend .products--top-rated;
    h1{
      text-align: center;
      margin-bottom: 25px;
    }
    .product-item{
      img{
        width: auto !important;
      }
    }
    .star-rating{
      display: none;
    }
    .button{
      display: inline-block;
      top: 0;
    }
  }
  .product-gallery{
    top: 0;
    position: relative;
    .onsale{
      @extend .sale_badge;
      left: 0;
    }
    .flex-control-nav{
      margin-top: 15px !important;
      li{
        padding-right: 5px;
        padding-left: 5px;
        img{
          opacity: 1 !important;
          display: block;
          padding: 4px;
          margin-bottom: 20px;
          line-height: 1.42857143;
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 4px;
          -webkit-transition: border .2s ease-in-out;
          -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
        }
      }
    }
    #reviews_summary{
      *{
        @extend .calibri;
        opacity: 1;
      }
      h3{
        @extend .related;
        border-color: $gray2;
      }
      .woocommerce-product-rating{
        display: none;
      }
      .reviews_bar{
        .ywar_stars_value{
          text-transform: capitalize;
          color: $gray;
          font-weight: bold;
          font-size: 14px;
        }
        .ywar_perc_rating{
          background-color: $green !important;
          span{
            color: $primary-color !important;
            @extend .calibri;
          }
        }
      }
    }
  }
  .prod-heads{
    padding-right: 30px;
  }
  .summary{
    .product_title{
      color: $red;
      &:before{
        color: $primary-color;
        content: "";
      }
    }
    .woocommerce-product-rating{
      margin-bottom: 0 !important;
      .star-rating{
        @extend .stars;
        margin: 10px auto;
        &:before{
          color: $red;
        }
      }
      .woocommerce-review-link{
        margin: 5px 0;
        display: inline-block;
        color: $red;
      }
    }
    .price{
      text-align: left;
      margin-bottom: 0;
      del{
        @extend .old-price;
        font-weight: normal !important;
      }
      ins{
        @extend .new-price;
        font-weight: normal !important;
        text-decoration: none;
      }
    }
    .stock-status, .sku_wrapper, .posted_in, .tagged_as{
      display: block;
      text-transform: capitalize;
      color: $gray;
      font-weight: bold;
      font-size: 14px;
      @extend .calibri;
      span, a{
        color: $red;
      }
    }
    .product_meta{
      margin-bottom: 10px;
      padding-bottom: 15px;
      border-bottom: 1px solid $gray2;
    }
    .woocommerce-product-details__short-description{
      @extend .text;
      @extend .calibri;
    }
    .cart{
      display: inline-block;
      &.variations_form{
        position: relative;
        width: 100%;
        margin-bottom: 0 !important;
        .single_variation_wrap{
          position: absolute;
          bottom: -50px;
        }
        &+.yith-wcwl-add-to-wishlist{
          margin-top: 16px;
          left: 183px;
          width: auto;
          position: relative;
        }
        .variations{
          border-bottom: 1px solid $gray2;
          border-top: 1px solid $gray2;
          tr{
            padding: 12px 0 15px;
            display: block;
            &:first-child{
              border-bottom: 1px solid $gray2;
            }
            .label{
              @extend .stock-status;
              line-height: 1;
              color: $primary-color;
              text-align: left;
            }
            .value{
              line-height: 1;
              .reset_variations{
                display: inline-block;
              }
            }
          }
        }
      }
      .quantity{
        .qty{
          height: 35px;
        }
      }
      .button{
        @extend .btn-cart;
        background-color: $red !important;
        &:hover{
          background-color: transparent !important;
          color: $red !important;
        }
      }
    }
    .yith-wcwl-add-to-wishlist{
      @extend .cart;
      margin-top: 7px;
      vertical-align: top;
      .add_to_wishlist{
        @extend .button;
        padding: 9px 15px;
        &:before{
          content: "\f004";
        }
      }
    }

  }
  .related-product-container{
    p{
      &.related{
        margin-left: -15px;
        @extend .calibri;
      }
    }
    .related-product-item{
      padding: 7px 0;
      .related-product{
        padding: 0;
        margin-bottom: 0;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          margin-right: 0;
        }
      }
      .related-detail{
        padding-right: 0;
        .head, .text{
          @extend .calibri;
        }
        .price{
          color: $red !important;
          font-size: 16px !important;
        }
      }
    }
  }
}
